version: 2

updates:
  # The target-branch is main (default branch) by default.
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      artifact:
        patterns: [ "actions/*artifact" ]
    cooldown:
      default-days: 4

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      next:
        patterns: [ "next", "next*", "*next", "*next*" ]
      react:
        patterns: [ "react", "react*", "*react", "*react*" ]
      aws-sdk:
        patterns: [ "@aws-sdk/*" ]
      jest:
        patterns: [ "jest", "jest*", "*jest", "*jest*" ]
      testing-library:
        patterns: [ "@testing-library/*" ]
      eslint:
        patterns: [ "eslint", "eslint*", "*eslint", "*eslint*" ]
      prettier:
        patterns: [ "prettier", "prettier*", "*prettier", "*prettier*" ]
    ignore:
      - dependency-name: "next"
        versions: [ ">=16.0.0" ]
      - dependency-name: "eslint-config-next"
        versions: [ ">=16.0.0" ]
      - dependency-name: "eslint"
        versions: [ ">=10.0.0" ]
    cooldown:
      default-days: 4

  - package-ecosystem: "terraform"
    directories: [ "/infrastructure/modules/**", "/infrastructure/environments/**" ]
    groups:
      infrastructure-updates:
        patterns: [ "*" ]
    ignore:
      - dependency-name: "*"
        update-types: [ "version-update:semver-major" ]
    schedule:
      interval: "weekly"
