.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nhsuk-width-container {
  flex: 1;
}

@media (min-width: 1024px) {
  .nhsuk-width-container {
    width: 100%;
  }
}

.appHeaderLogoutContainer {
  margin-left: auto;
}

@media (max-width: 641px) {
  html {
    font: -apple-system-body;
  }
}
