name: deploy
description: "Deployment to AWS"

inputs:
  environment:
    description: "Environment to deploy to"
    required: true
  tag_or_sha_to_deploy:
    description: "Commit sha or tag to deploy"
    required: true
  secret_aws_iam_role:
    description: "AWS IAM role"
    required: true
  secret_aws_account_id:
    description: "AWS account id"
    required: true
  secret_aws_slack_channel_id:
    description: "AWS slack channel id"
    required: true

runs:
  using: composite
  steps:
    #################################################
    # Setup GitHub IAM user permissions in AWS first
    #################################################

    # Rationale:
    #  - why? given we reuse preprod for R1.0 and R2.0, when IAM permission change across releases, then deployment fails
    #  - constraint? make sure R2.0 IAM permissions are a superset of R1.0 IAM permissions
    #  - what? deploy IAM from R2.0 as it is a superset and then R1.0 deployments will succeed as well
    - name: "Checkout code"
      uses: actions/checkout@v5
      with:
        ref: 'main'

    - name: "Configure AWS credentials"
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-session-name: GitHubActionsSession
        role-to-assume: ${{ inputs.secret_aws_iam_role }}
        aws-region: eu-west-2

    - name: "Identify Terraform version"
      shell: bash
      id: identify-terraform-version-main
      run: |
        echo "terraform_version=$(grep "^terraform" .tool-versions | cut -f2 -d' ')" >> $GITHUB_OUTPUT

    - name: "Install Terraform version"
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "${{ steps.identify-terraform-version-main.outputs.terraform_version }}"

    - name: "Set terraform environment vars"
      shell: bash
      run: |
        echo "TF_VAR_is_github_action=true" >> $GITHUB_ENV
        echo "TF_VAR_alarms_slack_channel_id=${{ inputs.secret_aws_slack_channel_id }}" >> $GITHUB_ENV
        echo "TF_VAR_app_version=${{ inputs.tag_or_sha_to_deploy }}" >> $GITHUB_ENV

    - name: "Terraform init (iam)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-init

    - name: "Terraform plan (iam)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-plan opts="-out=terraform-iam.tfplan"

    - name: "Terraform apply (iam)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-apply opts="-auto-approve" opts="terraform-iam.tfplan"

    #################################################
    # Download the required artefacts from AWS
    #################################################

    - name: "Checkout code"
      uses: actions/checkout@v5
      with:
        ref: ${{ inputs.tag_or_sha_to_deploy }}

    - name: "Download artefacts from S3 bucket"
      shell: bash
      run: |
        if [[ "${{ inputs.environment }}" == "dev" ]]; then
          bucket_name="vita-${{ inputs.secret_aws_account_id }}-artefacts-${{ inputs.environment }}"
          folder_name="sha"
        else
          bucket_name="vita-${{ inputs.secret_aws_account_id }}-releases-${{ inputs.environment }}"
          folder_name="tag"
        fi

        s3_artefacts_path="s3://${bucket_name}/${folder_name}/${{ inputs.tag_or_sha_to_deploy }}"
        echo "Copying from path : ${s3_artefacts_path}"
        aws s3 cp "${s3_artefacts_path}" . --recursive

    - name: "Unzip OpenNext package"
      shell: bash
      run: |
        unzip open-next.zip
        rm -rf open-next.zip

    #################################################
    # Deploy the artefacts to AWS
    #################################################

    - name: "Identify Terraform version"
      shell: bash
      id: identify-terraform-version-tag
      run: |
        echo "terraform_version=$(grep "^terraform" .tool-versions | cut -f2 -d' ')" >> $GITHUB_OUTPUT

    - name: "Install Terraform version"
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "${{ steps.identify-terraform-version-tag.outputs.terraform_version }}"

    - name: "Terraform init (app)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }} make terraform-init

    - name: "Terraform plan (app)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }} make terraform-plan opts="-out=terraform-app.tfplan"

    - name: "Terraform apply (app)"
      shell: bash
      run: TF_ENV=${{ inputs.environment }} make terraform-apply opts="-auto-approve" opts="terraform-app.tfplan"
