name: deploy
description: "Deployment to AWS"

inputs:
  environment:
    description: "Environment to deploy to"
    required: true
  tag_or_sha_to_deploy:
    description: "Commit sha or tag to deploy"
    required: true
  secret_aws_iam_role:
    description: "AWS IAM role"
    required: true
  secret_aws_account_id:
    description: "AWS account id"
    required: true
  secret_aws_slack_channel_id:
    description: "AWS slack channel id"
    required: true

runs:
  using: composite
  steps:
    - name: "Checkout target code"
      uses: actions/checkout@v5
      with:
        ref: ${{ inputs.tag_or_sha_to_deploy }}
        path: "code-for-app"

    - name: "Configure AWS credentials"
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-session-name: GitHubActionsSession
        role-to-assume: ${{ inputs.secret_aws_iam_role }}
        aws-region: eu-west-2

    #################################################
    # Set up Terraform
    #################################################

    - name: "Identify Terraform version"
      shell: bash
      id: identify-terraform-version
      working-directory: "./code-for-app"
      run: |
        echo "terraform_version=$(grep "^terraform" .tool-versions | cut -f2 -d' ')" >> $GITHUB_OUTPUT

    - name: "Install Terraform version"
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "${{ steps.identify-terraform-version.outputs.terraform_version }}"

    #################################################
    # Download the required artefacts from AWS
    #################################################

    - name: "Download artefacts from S3 bucket"
      shell: bash
      working-directory: "./code-for-app"
      run: |
        if [[ "${{ inputs.environment }}" == "dev" ]]; then
          bucket_name="vita-${{ inputs.secret_aws_account_id }}-artefacts-${{ inputs.environment }}"
          folder_name="sha"
        else
          bucket_name="vita-${{ inputs.secret_aws_account_id }}-releases-${{ inputs.environment }}"
          folder_name="tag"
        fi

        s3_artefacts_path="s3://${bucket_name}/${folder_name}/${{ inputs.tag_or_sha_to_deploy }}"
        echo "Copying from path : ${s3_artefacts_path}"
        aws s3 sync "${s3_artefacts_path}" .

    - name: "Unzip OpenNext package"
      shell: bash
      working-directory: "./code-for-app"
      run: |
        unzip open-next.zip
        rm -rf open-next.zip

    - name: "Set terraform environment vars"
      shell: bash
      run: |
        echo "TF_VAR_is_github_action=true" >> $GITHUB_ENV
        echo "TF_VAR_alarms_slack_channel_id=${{ inputs.secret_aws_slack_channel_id }}" >> $GITHUB_ENV
        echo "TF_VAR_app_version=${{ inputs.tag_or_sha_to_deploy }}" >> $GITHUB_ENV

    #################################################
    # Deploy IAM permissions to AWS
    #################################################

    - name: "Terraform init (iam)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-init

    - name: "Terraform plan (iam)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-plan opts="-out=terraform-iam.tfplan"

    - name: "Terraform apply (iam)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }}/iam make terraform-apply opts="-auto-approve" opts="terraform-iam.tfplan"

    #################################################
    # Deploy the artefacts to AWS
    #################################################

    - name: "Terraform init (app)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }} make terraform-init

    - name: "Terraform plan (app)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }} make terraform-plan opts="-out=terraform-app.tfplan"

    - name: "Terraform apply (app)"
      shell: bash
      working-directory: "./code-for-app"
      run: TF_ENV=${{ inputs.environment }} make terraform-apply opts="-auto-approve" opts="terraform-app.tfplan"
