doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/nhsuk-frontend-9.1.0/css/nhsuk-9.1.0.min.css")
    link(rel="stylesheet", href="/nhsapp-frontend-2.3.0/nhsapp-2.3.0.min.css")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body
    main#maincontent.nhsuk-main-wrapper(role='main')
      .nhsuk-width-container
        block content
