.nhsapp-card
  .nhsapp-card__container
    .nhsapp-card__content
      a.nhsapp-card__link.nhsuk-link--no-visited-state(href='#')
        | #{cardText}
    img(src='/nhsapp-frontend-2.3.0/assets/icons/chevron-right.svg')
