name: "CI/CD scheduled assurances WIP"

on:
  schedule:
    - cron: '22 15 * * MON-FRI'  # Runs at 09:30 UTC every weekday
  workflow_dispatch:
    inputs:
      release:
        description: 'Release to deploy and assure'
        type: choice
        options:
          - release1
          - latest-main-tag

jobs:
  deploy-and-test-r1:
    name: "R1.0 Assurance"
    runs-on: "ubuntu-latest"
    timeout-minutes: 20
    concurrency:
      group: "preprod-env"
      cancel-in-progress: false
    permissions:
      id-token: write
      contents: read
    environment:
      name: "preprod"

    if: ${{ !cancelled() && (github.event_name=='schedule' || (github.event_name=='workflow_dispatch' && inputs.release=='release1')) }}
    steps:
    - name: "Checkout release/v1.0 branch"
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        ref: "release/v1.0"

    - name: "Get latest tag name on release/v1.0 branch"
      id: get-latest-tag-name
      run: |
        echo "value=$(git describe --tags --abbrev=0 --first-parent)" | tee -a $GITHUB_OUTPUT

    - name: "Checkout code"
      uses: actions/checkout@v5

    - name: "Deploy to AWS (preprod)"
      timeout-minutes: 10
      uses: ./.github/actions/deploy
      with:
        environment: "preprod"
        tag_or_sha_to_deploy: ${{ steps.get-latest-tag-name.outputs.value }}
        secret_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        secret_aws_iam_role: ${{ secrets.IAM_ROLE }}
        secret_aws_slack_channel_id: ${{ secrets.ALARMS_SLACK_CHANNEL_ID }}

  deploy-and-test-main:
    name: "Main Branch Assurance"
    runs-on: "ubuntu-latest"
    timeout-minutes: 20
    concurrency:
      group: "preprod-env"
      cancel-in-progress: false
    permissions:
      id-token: write
      contents: read
    environment:
      name: "preprod"

    needs: [ deploy-and-test-r1 ]
    if: ${{ !cancelled() && (github.event_name=='schedule' || (github.event_name=='workflow_dispatch' && inputs.release=='latest-main-tag')) }}
    steps:
      - name: "Checkout main branch"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: "main"

      - name: "Get latest tag name on main branch"
        id: get-latest-tag-name
        run: |
          echo "value=$(git describe --tags --abbrev=0 --first-parent)" | tee -a $GITHUB_OUTPUT
          echo "Latest tag name on main branch is : ${value}"

      - name: "Checkout code"
        uses: actions/checkout@v5

      - name: "Deploy to AWS (preprod)"
        timeout-minutes: 10
        uses: ./.github/actions/deploy
        with:
          environment: "preprod"
          tag_or_sha_to_deploy: ${{ steps.get-latest-tag-name.outputs.value }}
          secret_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          secret_aws_iam_role: ${{ secrets.IAM_ROLE }}
          secret_aws_slack_channel_id: ${{ secrets.ALARMS_SLACK_CHANNEL_ID }}
