name: "CI/CD scheduled assurances WIP"

on:
  schedule:
    - cron: '30 9 * * MON-FRI'  # Runs at 09:30 UTC every weekday
  workflow_dispatch:
    inputs:
      release:
        description: 'Deploy and run assurance tests on'
        type: choice
        options:
          - Latest R1 tag
          - Latest main tag
          - All

jobs:
  deploy-and-test-r1:
    name: "R1.0 Assurance"
    runs-on: "ubuntu-latest"
    timeout-minutes: 20
    concurrency:
      group: "preprod-env"
      cancel-in-progress: false
    permissions:
      id-token: write
      contents: read
    environment:
      name: "preprod"

    if: ${{ !cancelled() && (github.event_name=='schedule' || (github.event_name=='workflow_dispatch' && (inputs.release=='All' || inputs.release=='Latest R1 tag'))) }}
    steps:
    - name: "Checkout release/v1.0 branch"
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        ref: "release/v1.0"

    - name: "Get latest tag name on release/v1.0 branch"
      id: get-latest-tag-name
      run: |
        echo "value=$(git describe --tags --abbrev=0 --first-parent)" | tee -a $GITHUB_OUTPUT

    - name: "Checkout code"
      uses: actions/checkout@v5

    - name: "Deploy to AWS (preprod)"
      timeout-minutes: 10
      uses: ./.github/actions/deploy
      with:
        environment: "preprod"
        tag_or_sha_to_deploy: ${{ steps.get-latest-tag-name.outputs.value }}
        secret_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
        secret_aws_iam_role: ${{ secrets.IAM_ROLE }}
        secret_aws_slack_channel_id: ${{ secrets.ALARMS_SLACK_CHANNEL_ID }}

    - name: "Run contract tests (sandpit+mocked)"
      timeout-minutes: 10
      uses: ./.github/actions/run-contract-tests
      with:
        target_ref: ${{ steps.get-latest-tag-name.outputs.value }}
      env:
        CONTENT_API_ENDPOINT: ${{ secrets.CONTENT_API_ENDPOINT }}
        CONTENT_API_KEY: ${{ secrets.CONTENT_API_KEY }}
        ELIGIBILITY_API_ENDPOINT: ${{ secrets.ELIGIBILITY_API_ENDPOINT }}
        ELIGIBILITY_API_KEY: ${{ secrets.ELIGIBILITY_API_KEY }}
        SSM_PREFIX: ${{ secrets.SSM_PREFIX }}
        IS_APIM_AUTH_ENABLED: ${{ vars.IS_APIM_AUTH_ENABLED }}
        CONTENT_CACHE_IS_CHANGE_APPROVAL_ENABLED: "false"
        NHS_APP_REDIRECT_LOGIN_URL: "dummy"
        CONTENT_CACHE_PATH: "dummy"
        NHS_LOGIN_URL: "dummy"
        NHS_LOGIN_CLIENT_ID: "dummy"
        NHS_LOGIN_SCOPE: "dummy"
        NHS_LOGIN_PRIVATE_KEY: "dummy"
        NBS_URL: "dummy"
        NBS_BOOKING_PATH: "dummy"
        MAX_SESSION_AGE_MINUTES: 0
        AUTH_SECRET: "dummy"

  deploy-and-test-main:
    name: "Main Branch Assurance"
    runs-on: "ubuntu-latest"
    timeout-minutes: 20
    concurrency:
      group: "preprod-env"
      cancel-in-progress: false
    permissions:
      id-token: write
      contents: read
    environment:
      name: "preprod"

    needs: [ deploy-and-test-r1 ]
    if: ${{ !cancelled() && (github.event_name=='schedule' || (github.event_name=='workflow_dispatch' && (inputs.release=='All' || inputs.release=='Latest main tag'))) }}
    steps:
      - name: "Checkout main branch"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: "main"

      - name: "Get latest tag name on main branch"
        id: get-latest-tag-name
        run: |
          echo "value=$(git describe --tags --abbrev=0 --first-parent)" | tee -a $GITHUB_OUTPUT
          echo "Latest tag name on main branch is : ${value}"

      - name: "Checkout code"
        uses: actions/checkout@v5

      - name: "Deploy to AWS (preprod)"
        timeout-minutes: 10
        uses: ./.github/actions/deploy
        with:
          environment: "preprod"
          tag_or_sha_to_deploy: ${{ steps.get-latest-tag-name.outputs.value }}
          secret_aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          secret_aws_iam_role: ${{ secrets.IAM_ROLE }}
          secret_aws_slack_channel_id: ${{ secrets.ALARMS_SLACK_CHANNEL_ID }}

      - name: "Run contract tests (sandpit+mocked)"
        timeout-minutes: 10
        uses: ./.github/actions/run-contract-tests
        with:
          target_ref: ${{ steps.get-latest-tag-name.outputs.value }}
        env:
          CONTENT_API_ENDPOINT: ${{ secrets.CONTENT_API_ENDPOINT }}
          CONTENT_API_KEY: ${{ secrets.CONTENT_API_KEY }}
          ELIGIBILITY_API_ENDPOINT: ${{ secrets.ELIGIBILITY_API_ENDPOINT }}
          ELIGIBILITY_API_KEY: ${{ secrets.ELIGIBILITY_API_KEY }}
          SSM_PREFIX: ${{ secrets.SSM_PREFIX }}
          IS_APIM_AUTH_ENABLED: ${{ vars.IS_APIM_AUTH_ENABLED }}
          CONTENT_CACHE_IS_CHANGE_APPROVAL_ENABLED: "false"
          NHS_APP_REDIRECT_LOGIN_URL: "dummy"
          CONTENT_CACHE_PATH: "dummy"
          NHS_LOGIN_URL: "dummy"
          NHS_LOGIN_CLIENT_ID: "dummy"
          NHS_LOGIN_SCOPE: "dummy"
          NHS_LOGIN_PRIVATE_KEY: "dummy"
          NBS_URL: "dummy"
          NBS_BOOKING_PATH: "dummy"
          MAX_SESSION_AGE_MINUTES: 0
          AUTH_SECRET: "dummy"
