name: "Deploy and run Assurance Tests"

on:
  workflow_call:
    inputs:
      branch_name:
        description: "Name of branch that the assurance tests will run against"
        required: true
        type: string
      release_name:
        description: "Folder to use for results and references"
        required: true
        type: string

env:
  AWS_REGION: eu-west-2

jobs:
  identify-latest-version-on-branch:
    name: "Identify Latest App Version for ${{ inputs.release_name }}"
    runs-on: ubuntu-latest
    outputs:
      latest_version: ${{ steps.get-latest-tag-version.outputs.latest_version }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: "${{ inputs.branch_name }}"
      - name: "Get latest tag version"
        id: get-latest-tag-version
        run: |
          echo "latest_version=$(git describe --tags --abbrev=0 --first-parent)" | tee -a $GITHUB_OUTPUT

  deploy-latest-version-to-preprod:
    name: "Deploy latest version for ${{ inputs.release_name }} to Preprod"
    needs: [ identify-latest-version-on-branch ]
    uses: ./.github/workflows/stage-4-deploy.yaml
    with:
      environment: "preprod"
      tag_or_sha_to_deploy: "${{ needs.identify-latest-version-on-branch.outputs.latest_version }}"
    secrets: inherit

  run-assurance-tests:
    name: "Run Assurance Tests on latest version for ${{ inputs.release_name }} "
    needs: [ deploy-latest-version-to-preprod, identify-latest-version-on-branch ]
    uses: ./.github/workflows/stage-8-assurance-test.yaml
    with:
      checkout_ref: "${{ needs.identify-latest-version-on-branch.outputs.latest_version }}"
      release_name: "${{ inputs.release_name }}"
    secrets: inherit
