name: "Acceptance stage"

on:
  workflow_call:
    inputs:
      environment:
        description: "Environment to run tests against"
        required: true
        type: string
      checkout_ref:
        description: "Ref to checkout"
        required: true
        type: string
      cross_browser:
        description: "Run E2E with playwright config with all devices"
        required: false
        type: boolean
        default: false
      release:
        description: "Release name used to infer the URL of the VitA Hub page"
        required: true
        type: string

jobs:
  test-e2e:
    name: "E2E Test: ${{inputs.environment}} environment"
    runs-on: ubuntu-latest
    timeout-minutes: 30
    environment: ${{ inputs.environment }}
    concurrency:
      group: ${{ inputs.environment }}-env
      cancel-in-progress: false
    steps:
      - name: "Get URL of VitA Hub Page for release"
        id: get-hub-url
        run: |
          if ${{ inputs.release == 'R1' || inputs.release == 'release1' }}; then
             TEST_APP_URL=${{vars.TEST_APP_URL_R1}}
          else
             TEST_APP_URL=${{vars.TEST_APP_URL_MAIN}}
          fi
          echo "test_app_url=$TEST_APP_URL" >> $GITHUB_OUTPUT

      - name: "Checkout code"
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkout_ref }}


      - name: "Run E2E tests on ${{ inputs.checkout_ref }} (${{ inputs.environment }})"
        timeout-minutes: 10
        uses: ./.github/actions/run-e2e-tests
        with:
          checkout_ref: ${{ inputs.checkout_ref }}
          cross_browser: ${{ inputs.cross_browser }}
        env:
          TEST_NHS_APP_URL: ${{ secrets.TEST_NHS_APP_URL }}
          TEST_NHS_LOGIN_PASSWORD: ${{ secrets.TEST_NHS_LOGIN_PASSWORD }}
          TEST_NHS_LOGIN_OTP: ${{ secrets.TEST_NHS_LOGIN_OTP }}
          TEST_NBS_APP_USERNAME: ${{ secrets.TEST_NBS_APP_USERNAME }}
          TEST_NBS_APP_PASSWORD: ${{ secrets.TEST_NBS_APP_PASSWORD }}
          TEST_APP_URL: ${{ steps.get-hub-url.outputs.test_app_url }}
          NHS_APP_REDIRECT_LOGIN_URL: ${{ secrets.NHS_APP_REDIRECT_LOGIN_URL }}
          VITA_TEST_USER_PATTERN: ${{ secrets.VITA_TEST_USER_PATTERN }}
          DEPLOY_ENVIRONMENT: ${{ inputs.environment }}

  test-contract:
    name: "Contract Test: ${{inputs.environment}} environment"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment: ${{ inputs.environment }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkout_ref }}

      - name: "Run contract tests (sandpit+mocked)"
        timeout-minutes: 3
        uses: ./.github/actions/run-contract-tests
        with:
          target_ref: ${{ inputs.checkout_ref }}
        env:
          CONTENT_API_ENDPOINT: ${{ secrets.CONTENT_API_ENDPOINT }}
          CONTENT_API_KEY: ${{ secrets.CONTENT_API_KEY }}
          ELIGIBILITY_API_ENDPOINT: ${{ secrets.ELIGIBILITY_API_ENDPOINT }}
          ELIGIBILITY_API_KEY: ${{ secrets.ELIGIBILITY_API_KEY }}
          SSM_PREFIX: ${{ secrets.SSM_PREFIX }}
          IS_APIM_AUTH_ENABLED: ${{ vars.IS_APIM_AUTH_ENABLED }}
          CONTENT_CACHE_IS_CHANGE_APPROVAL_ENABLED: "false"
          NHS_APP_REDIRECT_LOGIN_URL: "dummy"
          CONTENT_CACHE_PATH: "dummy"
          NHS_LOGIN_URL: "dummy"
          NHS_LOGIN_CLIENT_ID: "dummy"
          NHS_LOGIN_SCOPE: "dummy"
          NHS_LOGIN_PRIVATE_KEY: "dummy"
          NBS_URL: "dummy"
          NBS_BOOKING_PATH: "dummy"
          MAX_SESSION_AGE_MINUTES: 0
          AUTH_SECRET: "dummy"
