name: "Assurance test stage"

on:
  workflow_call:
    inputs:
      checkout_ref:
        description: "Ref to checkout"
        required: true
        type: string
      release_name:
        description: "Folder to use for results and references"
        required: true
        type: string

env:
  AWS_REGION: eu-west-2

jobs:
  check-build-is-deployed-in-preprod:
    name: "Check expected version is running in Preprod"
    runs-on: ubuntu-latest
    outputs:
      deployed_app_version: ${{ steps.get_deployed_app_version.outputs.deployed_app_version }}
    timeout-minutes: 20
    environment:
      name: preprod
    permissions:
      id-token: write
      contents: read
    steps:
      - name: "Configure AWS credentials for env"
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-session-name: GitHubActionsSession
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
      - name: "Get deployed app version"
        id: get_deployed_app_version
        run: |
          APP_VERSION=$(aws lambda get-function-configuration --function-name gh-vita-${{ secrets.AWS_ACCOUNT_ID }}-server-function | jq -r '.Environment.Variables.APP_VERSION')
          echo "deployed_app_version=$APP_VERSION" | tee -a $GITHUB_OUTPUT
      - name: "Check deployed version matches version under test"
        run: |
          if  [ "${{ steps.get_deployed_app_version.outputs.deployed_app_version }}" != "${{ inputs.checkout_ref }}" ]; then
            echo "Expected build ${{ inputs.checkout_ref }} is not currently deployed in Preprod (current deployed version: ${{ steps.get_deployed_app_version.outputs.deployed_app_version }})"
            exit 1
          fi

  acceptance-stage-preprod:
    name: "Acceptance stage preprod ${{ inputs.release_name }} ${{ inputs.checkout_ref }}"
    needs: [check-build-is-deployed-in-preprod]
    uses: ./.github/workflows/stage-5-acceptance.yaml
    with:
      environment: "preprod"
      checkout_ref: ${{ inputs.checkout_ref }}
      cross_browser: true
    secrets: inherit

  snapshot-stage-preprod:
    name: "Snapshot stage preprod ${{ inputs.release_name }} ${{ inputs.checkout_ref }}"
    needs: [acceptance-stage-preprod, check-build-is-deployed-in-preprod]
    uses: ./.github/workflows/stage-7-snapshot-test.yaml
    with:
      checkout_ref: ${{ inputs.checkout_ref }}
      release_name: ${{ inputs.release_name }}
    secrets: inherit

